body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

img {
    width: 100%;
}

#projects--wrapper {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid rgb(255, 255, 255);
    background-color: azure;
}

.project--card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
    margin-top: 2em;
    padding: 1em;
}

.card--header {
    display: flex;
    align-items: center;
    gap: 2em;
}

.vote--option {
    font-size: 24px;
    cursor: pointer;
}

.vote--option:hover {
    color: blue;
}

#form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid seashell;
    background-color: #fff;
    border-radius: 5px;
}