{% extends 'main.html' %}

{% block content %}

<h3>SINGLE_PROJECT</h3>

    Project id: {{specific_project.id}} <br>
    Project title: {{specific_project.title}} <br>
    Description: {{specific_project.description}} <br>
    Tags: 
    <ul>
        {%for tag in tags%}
            <li>{{tag.name}}</li>
        {%endfor%}
    </ul>
    <br>
    Reviews:
    <ul>
        {%for review in reviews%}
            <li>{{review.body}}</li>
        {%endfor%}
    </ul>
    <a href=" {% url 'update-project' specific_project.id %} ">:::EDIT:::</a> <br>
{% endblock content %}